/* universal styling  */

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* nav styles starts here  */
.nav-bar{
    width: auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    margin: 46px 240px;
    gap: 20px;
    align-items: center;
}
.nav-logo img{
    max-width: 80px;
    max-height: 40px;
}
.pink-letter{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
}
.shaded-part{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}
.title{
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.nav-lists{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 46px;
    justify-content: space-evenly;
    align-items: center;
}
.nav-lists>li{
    justify-content: space-evenly;
    text-decoration: none;
}

/* banner styles starts here  */
.banner-container{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom: 100px;
}
.banner{
    padding-top: 200px;
}
.banner-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.goat{
    font-family: Work Sans;
    font-size: 5.9375rem;
    font-weight: 800;
}
.banner-info{
    display: inline-block;
    padding-bottom: 17px;
}

.btn-pink{
    background-color: magenta;
    border: none;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
}
.btn-blue{
    background-color: rgb(53, 181, 232);
    border: none;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
}

/* play instantly styles starts here  */
.play-instantly{
    display: flex;
    margin-bottom: 300px;
    gap: 200px;
    width: auto;
}
.play-info{
    padding-top: 550px;
}

.play-section-title{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 70px;
}
.play-rules{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: right;
    max-width: 353px;
    padding-left: 120px;
}

/* #angela{
    position: relative;
    top: 355px;
    left: 180px;
} */
#angela{
    position: relative;
    top: 730px;
    right: 150px;

}

/* game section styles  */
.games{
    width: auto;
}
.game-names{
    float: inherit;
}

/* footer styles starts here  */
.footer-headings{
    align-items: center;
    text-align: center;
}
.footer{
    background-color: rgba(11, 2, 35, 1);
    width: auto;
    max-height: 636px;
    text-align: center;
    padding: 50px;
}
.footer>div{
    padding-bottom: 50px;
}
.white{
    color: #FFF;
}
.footer-info>a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 600;
    padding-left: 60px;
}
.footer-logos>a{
    padding-left: 40px;
}
.credits>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 60px;
    padding-top: 75px;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
}
#footer-img{
    padding-right: 20px;
}



/* responsive styles */
@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column-reverse;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
}